{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
{% include 'layout/_flash_message.html.twig' %}
<div class="conatiner col-6 my-5 text-center ">
<button class="btn btn-primary"><a href="{{path('category_create')}}" class="text-white">Ajouter Categorie</a></button>
<br/>
<table class="table  table-striped-columns">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom de Categorie</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
    <tr>      
      <td>{{category.id}}</td>
      <td>{{category.name}}</td>
      <td>
      <a href="{{path('category_update',{'id':category.id}) }}" class="btn btn-outline-warning">Edit</a>
      <a onclick="return confirm('voulez vous supprimer cette categorie?')" href="{{path('category_delete',{'id':category.id})}}" class="btn btn-outline-danger">Delete</a>
      </td>
    </tr>  
  </tbody>
  {% else %}
  <h2>Aucune categorie à afficher </h2>
  {% endfor %}
</table>
</div>


{% endblock %}
